button{
 padding: 14px 32px;
  font-size: 18px;
  font-weight: 600;
  color: black;

}

nav-header{
    display: flex;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #fff;
}




ul , menu {

    display: flex;
    justify-content: center;
    gap: 27px;
    color: #fff;
}

.flex{
 display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
    flex-wrap: wrap;

    p{
        color: #fff;
    }
    img{
        width: 100%;
    }
}

h2{
    text-align: center;
}

.produits{
    width: 30%;
    
    h3{
        color: #fff;
    }


}

.produits:hover{
    background-color: rgb(130, 130, 166);
}